.product-image2 {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

.product-details2 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
